@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Segoe UI", "Roboto", "sans-serif";
}

/* Ép vuông vức 0px tuyệt đối cho toàn bộ website */
* {
  border-radius: 0px !important;
}

body {
  @apply bg-[#fcfcfc] text-slate-900 antialiased;
}

/* Thanh cuộn tinh tế */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: #1e293b; }